.saveButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 5px;
}

.saveButton {
    color: white;
    margin: 5px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.saveButton:hover {
    box-shadow: 0 0 8px rgb(34, 161, 34);
}